In [2]:
n=int(input("enter number of rows:"))
for i in range(n):
    for j in range(n):
        print("*",end=' ')
    print()

enter number of rows:6
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

In [3]:
n=int(input("enter number of rows:"))
for i in range(n):
    for j in range(i+1):
        print("*",end=' ')
    print()

enter number of rows:5
*
* *
* * *
* * * *
* * * * *

In [4]:
n=int(input("enter number of rows:"))
for i in range(n):
    for j in range(i,n):
        print("*",end=' ')
    print()

enter number of rows:5
* * * * *
* * * *
* * *
* *
*

In [9]:
n=int(input("enter number of rows:"))
for i in range(n):
    for j in range(i,n):
        print(" ",end=' ')
    for j in range(i+1):
        print("*",end=' ')
    print()

enter number of rows:5
          *
        * *
      * * *
    * * * *
  * * * * *

In [8]:
n=int(input("enter number of rows:"))
for i in range(n):
    for j in range(i+1):
        print(" ",end=' ')
    for j in range(i,n):
        print("*",end=' ')
    print()

enter number of rows:5
  * * * * *
    * * * *
      * * *
        * *
          *

In [11]:
n=int(input("enter number of rows:"))
for i in range(n):
    for j in range(i,n):
        print(" ",end=' ')
    for j in range(i):
        print("*",end=' ')
    for j in range(i+1):
        print("*",end=' ')
    print()

enter number of rows:5
          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [14]:
n=int(input("enter number of rows:"))
for i in range(n):
    for j in range(i+1):
        print(" ",end=' ')
    for j in range(i+1,n):
        print("*",end=' ')
    for j in range(i,n):
        print("*",end=' ')
    print()

enter number of rows:5
  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [15]:
n=int(input("enter number of rows:"))
for i in range(n-1):
    for j in range(i,n):
        print(" ",end=' ')
    for j in range(i):
        print("*",end=' ')
    for j in range(i+1):
        print("*",end=' ')
    print()
for i in range(n):
    for j in range(i+1):
        print(" ",end=' ')
    for j in range(i+1,n):
        print("*",end=' ')
    for j in range(i,n):
        print("*",end=' ')
    print()

enter number of rows:10
                    *
                  * * *
                * * * * *
              * * * * * * *
            * * * * * * * * *
          * * * * * * * * * * *
        * * * * * * * * * * * * *
      * * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * * * *
      * * * * * * * * * * * * * * *
        * * * * * * * * * * * * *
          * * * * * * * * * * *
            * * * * * * * * *
              * * * * * * *
                * * * * *
                  * * *
                    *

In [22]:
n=int(input("enter number of rows:"))
for i in range(n):
    for j in range(n-i-1):
        print(" ",end="")
    for j in range(i+1):
        print("* ",end="")
    print()

enter number of rows:5
    *
   * *
  * * *
 * * * *
* * * * *

In [20]:
n = 5  # Number of rows

for i in range(n):
    # Print spaces
    for j in range(n - i - 1):
        print(" ", end="")
    
    # Print asterisks
    for k in range(i + 1):
        print("* ", end="")
    
    print()  # Move to the next line

    *
   * *
  * * *
 * * * *
* * * * *

In [23]:
n=int(input("enter number of rows:"))
for i in range(n):
    for j in range(i+1):
        print("1",end=' ')
    print()

enter number of rows:5
1
1 1
1 1 1
1 1 1 1
1 1 1 1 1

In [25]:
n=int(input("enter number of rows:"))
p=1
for i in range(n):
    for j in range(i+1):
        print(p,end=' ')
    p+=1
    print()

enter number of rows:5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [26]:
n=int(input("enter number of rows:"))
p=n
for i in range(n):
    for j in range(i+1):
        print(p,end=' ')
    p-=1
    print()

enter number of rows:5
5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [27]:
n=int(input("enter number of rows:"))
p=0
for i in range(n):
    for j in range(i+1):
        print(p,end=' ')
    p+=2
    print()

enter number of rows:5
0
2 2
4 4 4
6 6 6 6
8 8 8 8 8

In [28]:
n=int(input("enter number of rows:"))
for i in range(n):
    for j in range(i+1):
        if(i%2==0):
            print("1",end=' ')
        else:
            print("2",end=' ')
    print()

enter number of rows:5
1
2 2
1 1 1
2 2 2 2
1 1 1 1 1

In [30]:
n=int(input("enter number of rows:"))
p=1
for i in range(n-1):
    for j in range(i,n):
        print(" ",end=' ')
    for j in range(i):
        print(p,end=' ')
    for j in range(i+1):
        print(p,end=' ')
    p=p+1
    print()
p=n
for i in range(n):
    for j in range(i+1):
        print(" ",end=' ')
    for j in range(i+1,n):
        print(p,end=' ')
    for j in range(i,n):
        print(p,end=' ')
    p+=1
    print()

enter number of rows:5
          1
        2 2 2
      3 3 3 3 3
    4 4 4 4 4 4 4
  5 5 5 5 5 5 5 5 5
    6 6 6 6 6 6 6
      7 7 7 7 7
        8 8 8
          9

In [31]:
n=int(input("enter number of rows:"))
p=1
for i in range(n-1):
    for j in range(i,n):
        print(" ",end=' ')
    for j in range(i):
        print(p,end=' ')
    for j in range(i+1):
        print(p,end=' ')
    p=p+1
    print()
p=n
for i in range(n):
    for j in range(i+1):
        print(" ",end=' ')
    for j in range(i+1,n):
        print(p,end=' ')
    for j in range(i,n):
        print(p,end=' ')
    p-=1
    print()

enter number of rows:5
          1
        2 2 2
      3 3 3 3 3
    4 4 4 4 4 4 4
  5 5 5 5 5 5 5 5 5
    4 4 4 4 4 4 4
      3 3 3 3 3
        2 2 2
          1

In [33]:
n=int(input("enter number of rows:"))
for i in range(n):
    p=1
    for j in range(i+1):
        print(p,end=' ')
        p+=1
    print()

enter number of rows:5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [35]:
n=int(input("enter number of rows:"))
for i in range(n):
    p=1
    for j in range(i+1):
        print(" ",end=' ')
    for j in range(i,n):
        print(p,end=' ')
        p=p+1
    print()

enter number of rows:5
  1 2 3 4 5
    1 2 3 4
      1 2 3
        1 2
          1

In [36]:
n=int(input("enter number of rows:"))
for i in range(n):
    p=1
    for j in range(i,n):
        print(" ",end=' ')
    for j in range(i):
        print(p,end=' ')
        p+=1
    for j in range(i+1):
        print(p,end=' ')
        p+=1
    print()

enter number of rows:5
          1
        1 2 3
      1 2 3 4 5
    1 2 3 4 5 6 7
  1 2 3 4 5 6 7 8 9

In [42]:
n=int(input("enter number of rows:"))
for i in range(n-1):
    p=1
    for j in range(i,n):
        print(" ",end=' ')
    for j in range(i):
        print(p,end=' ')
        p+=1
    for j in range(i+1):
        print(p,end=' ')
        p+=1
    print()
for i in range(n):
    p=n
    for j in range(i+1):
        print(" ",end=' ')
    for j in range(i+1,n):
        print(p,end=' ')
        p-=1
    for j in range(i,n):
        print(p,end=' ')
        p-=1
    print()

enter number of rows:3
      1
    1 2 3
  3 2 1 0 -1
    3 2 1
      3

enter number of rows:5
          1
        1 1 2
      1 1 1 2 3
    1 1 1 1 2 3 4
  5 5 5 5 5 4 3 2 1
    5 5 5 5 4 3 2
      5 5 5 4 3
        5 5 4
          5